@inherits LayoutComponentBase

<div class="@Bem.Block()">
    <div class="@Bem.Element("side-menu")">
        <SideMenu />
    </div>
    <div class="@Bem.Element("content")">
        @Body
    </div>
</div>

@code{
    private Bem Bem = new Bem("view-layout-content-with-sidebar");
}