@page "/"
@using OMM.Desktop.Data.OsuDataProvider
@inject OsuDataProvider OsuDataProvider

<div class="@Bem.Base()">
    <MapImage SongSelection="@songSelection" />
    <div class="@Bem.Base()" style="background-image: url('@songSelection?.PathToBackgroundImage');"></div>
</div>

@code{
    private Bem Bem = new Bem("view-index");

    private SongSelectionChangedEventArgs songSelection;

    protected override void OnInitialized()
    {
        // Subscription to table record change events
        OsuDataProvider.SongChanged += this.SongChanged;
    }

    private async void SongChanged(object sender, SongSelectionChangedEventArgs e)
    {
        this.songSelection = e;

        await InvokeAsync(() => base.StateHasChanged());
    }
}
