@font-face {
  font-family: MochyPop;
  src: url("../webfonts/MochiyPopOne-Regular.ttf");
}
body {
  margin: 0;
  padding: 0;
  background-color: #1d1f20;
  color: #d4d8d9FF;
  font-family: MochyPop;
}
#blazor-error-ui {
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
#blazor-error-ui .dismiss {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}
.view-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.view-index__search-container {
  height: 100px;
  min-width: 650px;
  width: 60%;
  max-width: 1500px;
  background-color: #30303b;
  border-radius: 16px;
  margin-top: 80px;
}
.view-layout-content-with-sidebar {
  display: flex;
  align-items: stretch;
  height: 100vh;
}
.view-layout-content-with-sidebar__content {
  width: 100%;
}
.component-side-menu {
  position: absolute;
}
.component-side-menu__text {
  font-size: 24px;
  padding-left: 16px;
}
.component-side-menu__toggle-button {
  display: flex;
  font-size: 36px;
  align-items: center;
  padding: 16px;
  padding-left: 24px;
  color: #d4d8d9FF;
}
.component-side-menu__toggle-button--open {
  justify-content: left;
}
.component-side-menu__nav-items {
  display: flex;
  flex-direction: column;
}
.component-side-menu__nav-items--open {
  align-items: start;
}
.component-side-menu__navlink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #d4d8d9FF;
  padding: 16px;
  font-size: 36px;
}
.component-side-menu--open {
  width: 240px;
}
.component-map-image {
  margin-top: 24px;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-width: 650px;
  width: 60%;
  max-width: 1500px;
  height: 250px;
  background-color: #30303b;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.component-map-image__background-image--empty {
  background-color: #30303b;
  visibility: hidden;
}
.component-map-image__text-container {
  display: flex;
  flex-direction: column;
  padding: 16px;
  padding-left: 24px;
}
.component-map-image__text + .component-map-image__text {
  padding-top: 8px;
}
.component-icon-button {
  display: inline-flex;
  align-items: center;
  position: relative;
  height: 40px;
  background-color: #00bca0;
  border: 4px solid #00907b;
  border-radius: 50px;
  font-size: 12px;
  padding: 0 16px;
}
.component-icon-button__text-container {
  padding-right: 32px;
  transition: opacity 0.3s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
.component-icon-button__icon-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  top: 0;
  right: 12px;
  font-size: 16px;
  transition: all 0.3s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
.component-icon-button__text-container--hovered {
  opacity: 0;
}
.component-icon-button__icon-container--hovered {
  right: 50%;
  font-size: 24px;
  transform: translateX(50%);
}