@font-face {
  font-family: MochyPop;
  src: url("../webfonts/MochiyPopOne-Regular.ttf");
}
body {
  margin: 0;
  padding: 0;
  background-color: #1d1f20;
  color: #d4d8d9FF;
  font-family: MochyPop;
}
#blazor-error-ui {
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
#blazor-error-ui .dismiss {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}
#components-reconnect-modal {
  display: none !important;
  pointer-events: none;
}
.view-layout-content-with-sidebar {
  position: relative;
  display: flex;
  align-items: stretch;
  height: 100vh;
}
.view-layout-content-with-sidebar__content {
  width: 100%;
}
.component-side-menu {
  position: absolute;
}
.component-side-menu__text {
  font-size: 24px;
  padding-left: 16px;
}
.component-side-menu__toggle-button {
  display: flex;
  font-size: 36px;
  align-items: center;
  padding: 16px;
  padding-left: 24px;
  color: #d4d8d9FF;
}
.component-side-menu__toggle-button--open {
  justify-content: left;
}
.component-side-menu__nav-items {
  display: flex;
  flex-direction: column;
}
.component-side-menu__nav-items--open {
  align-items: start;
}
.component-side-menu__navlink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #d4d8d9FF;
  padding: 16px;
  font-size: 36px;
}
.component-side-menu--open {
  width: 240px;
}
.component-map-image {
  margin-top: 24px;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-width: 650px;
  width: 60%;
  max-width: 1500px;
  height: 250px;
  background-color: #525c6b;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.component-map-image__background-image--empty {
  background-color: #525c6b;
  visibility: hidden;
}
.component-map-image__text-container {
  display: flex;
  flex-direction: column;
  padding: 16px;
  padding-left: 24px;
}
.component-map-image__text {
  filter: drop-shadow(0.2rem 0.2rem 0.15rem rgba(0, 0, 0, 0.8));
}
.component-map-image__text + .component-map-image__text {
  padding-top: 8px;
}
.component-map-match {
  min-width: 650px;
  width: 60%;
  max-width: 1500px;
  margin-bottom: 24px;
  border-radius: 16px;
  background-color: #2b2f33;
  box-shadow: 6px 4px 0 2px #191a1c;
  position: relative;
}
.component-map-match__preview-image {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  transition-duration: 1s;
  background-color: #525c6b;
  height: 116px;
  width: 184px;
}
.component-map-match__no-image {
  display: flex;
  align-items: center;
  font-size: 36px;
  justify-content: center;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  background-color: #525c6b;
  height: 116px;
  width: 184px;
}
.component-map-match__play-button {
  position: absolute;
  left: 16px;
  top: 56px;
  font-size: 36px;
  color: #d4d8d9FF;
  filter: drop-shadow(6px 4px 0 #191a1c);
}
.component-map-match__preview-image--expanded {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 16px;
}
.component-map-match__map-metadata {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-top: 8px;
  font-size: 16px;
}
.component-map-match__map-info {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 16px;
  padding-left: 48px;
  padding-bottom: 56px;
}
.component-map-match__button-osu-direct {
  background-color: #e575cf;
  border-color: #c462b0;
}
.component-map-match__button-map-info {
  background-color: #7c7cef;
  border-color: #6767c6;
}
.component-filter-chips {
  display: flex;
}
.component-filter-chips__chips-container {
  display: flex;
}
.component-filter-chips__filter-chip {
  display: inline-flex;
  align-items: center;
  border: 2px solid #3e4550;
  background-color: #525c6b;
  border-radius: 40px;
  margin: 4px;
}
.component-filter-chips__chip-name {
  padding: 0 8px;
}
.component-filter-chips__chip-input {
  text-align: center;
  height: 24px;
  width: 32px;
  padding: 0;
  border: none;
  border-radius: 24px;
}
.component-filter-chips__button-add-filter {
  display: inline-flex;
  align-items: center;
  border: 2px solid #3e4550;
  background-color: #525c6b;
  border-radius: 40px;
  margin: 4px;
}
.component-filter-chips__chip-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
}
.component-filter-chips__chip-icon--remove {
  transform: rotate(45deg);
}
.component-filter-chips__chip-selection {
  height: 24px;
  width: 100px;
  margin-left: 20px;
  border: none;
  border-radius: 24px;
}
.component-icon-button {
  display: inline-flex;
  align-items: center;
  position: relative;
  height: 40px;
  border-width: 2px;
  border-style: solid;
  border-radius: 50px;
  font-size: 12px;
  padding: 0 16px;
  color: #d4d8d9FF;
  text-decoration: none;
}
.component-icon-button__text-container {
  padding-right: 32px;
  transition: opacity 0.3s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
.component-icon-button__icon-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  top: 0;
  right: 12px;
  font-size: 16px;
  transition: all 0.3s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
.component-icon-button__text-container--hovered {
  opacity: 0;
}
.component-icon-button__icon-container--hovered {
  right: 50%;
  font-size: 24px;
  transform: translateX(50%);
}
.component-expander {
  position: relative;
}
.component-expander__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.component-expander__header-content {
  display: flex;
  width: 100%;
}
.component-expander__body {
  max-height: 0px;
  opacity: 0;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.component-expander__body--expanded {
  max-height: 1000px;
  opacity: 1;
}
.component-expander__icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  margin: 0 16px;
  transition-duration: 0.3s;
}
.component-expander__icon-container:hover {
  background-color: #525c6b;
}
.component-expander__icon {
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.4);
  font-size: 20px;
}
.component-expander__icon--expanded {
  transform: rotate(180deg);
}
.component-expander__footer {
  position: absolute;
  bottom: 8px;
  right: 72px;
}
.view-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.view-index__search-container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 650px;
  width: 60%;
  max-width: 1500px;
  border: 2px solid #272c33;
  border-radius: 16px;
  padding: 4px;
  margin-bottom: 48px;
}
.view-index__search-container-label {
  position: absolute;
  top: 0;
  left: 16px;
  color: #525c6b;
  background-color: #1d1f20;
  transform: translateY(-60%);
  padding: 8px;
}
.view-index__search-button {
  margin: 24px;
  background-color: #528dff;
  border-color: #3970d9;
}
.view-index__search-button--unavailable {
  background-color: #345599;
}
.view-index__spinner {
  font-size: 48px;
}
.view-index__page-numbers {
  display: flex;
}
.view-index__page-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 40px;
  border: 2px solid #3e4550;
  background-color: #525c6b;
  background-color: #2b2f33;
  margin: 16px;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
.view-index__page-button--selected {
  background-color: #525c6b;
}
.view-index__page-button:hover {
  background-color: #525c6b;
}
.view-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.view-settings__form {
  display: flex;
  flex-direction: column;
}
.view-settings__form-row {
  padding-bottom: 16px;
}
.view-settings__info {
  padding-top: 16px;
  font-size: 12px;
}
.view-settings__me {
  text-align: center;
  padding-top: 200px;
}
.view-settings__osu-profile {
  color: #528dff;
}
.component-error-message {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 256px;
  width: 420px;
  display: none;
  background-color: #141516;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  border: 2px solid #d4d8d9FF;
}
.component-error-message__icon {
  color: #cc5905;
  font-size: 48px;
  padding-bottom: 16px;
}
.component-error-message__body {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.component-error-message__footer {
  display: flex;
  justify-content: center;
}
.component-error-message--error {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
}