body {
  margin: 0;
  padding: 0;
  background-color: #1d1f20;
  color: #d4d8d9FF;
}
#blazor-error-ui {
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
#blazor-error-ui .dismiss {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}
.view-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.view-layout-content-with-sidebar {
  display: flex;
  align-items: stretch;
  height: 100vh;
}
.view-layout-content-with-sidebar__content {
  width: 100%;
}
.component-side-menu__text {
  font-size: 24px;
  padding-left: 16px;
}
.component-side-menu__toggle-button {
  display: flex;
  font-size: 36px;
  align-items: center;
  padding: 16px;
  padding-left: 24px;
  color: #d4d8d9FF;
}
.component-side-menu__toggle-button--open {
  justify-content: left;
}
.component-side-menu__nav-items {
  display: flex;
  flex-direction: column;
}
.component-side-menu__nav-items--open {
  align-items: start;
}
.component-side-menu__navlink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #d4d8d9FF;
  padding: 16px;
  font-size: 36px;
}
.component-side-menu--open {
  width: 240px;
}
.component-map-image {
  margin-top: 24px;
  background-repeat: no-repeat;
  border-radius: 16px;
  background-position: center center;
  background-size: cover;
  min-width: 500px;
  width: 60%;
  max-width: 1500px;
  height: 250px;
}
.component-map-image__background-image--empty {
  background-color: #30303b;
  visibility: hidden;
}