@import "../../variables.less";
.component-map-match {
    min-width: 650px;
    width: 60%;
    max-width: 1500px;
    margin-bottom: @baseSpacing * 3;
    border-radius: @borderRadius;
    background-color: #2b2f33;
    box-shadow: 6px 4px 0 2px @colorGrayDark;
    position: relative;

    &__preview-image {
        border-top-left-radius: @borderRadius;
        border-bottom-left-radius: @borderRadius;
        transition-duration: 1s;
        background-color: @colorGrayLight;
        height: 116px;
        width: 184px;
    }

    &__play-button {
        position: absolute;
        left: @baseSpacing * 2;
        top: @baseSpacing * 7;
        font-size: 36px;
        color: @colorWhite;
        filter: drop-shadow(6px 4px 0 #191a1c);
    }

    &__preview-image--expanded {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: @borderRadius;
    }

    &__map-metadata {
        display: flex;
        flex-direction: column;
        padding-left: @baseSpacing * 2;
        padding-top: @baseSpacing;
        font-size: 16px;
    }

    &__map-info {
        display: grid;
        grid-template-columns: 1fr 2fr;
        padding: @baseSpacing * 2;
        padding-left: 48px;
        padding-bottom: 56px;
    }

    &__button-osu-direct {
        background-color: #e575cf;
        border-color: #c462b0;
    }

    &__button-map-info {
        background-color: #7c7cef;
        border-color: #6767c6;
    }
}
