@page "/"
@using OMM.Desktop.Data.OsuDataProvider
@inject OsuDataProvider OsuDataProvider

<h1>Hello, world!</h1>
<img src="@p" height="500"/>
<h1>@p</h1>

@code{
    private string p;

    protected override void OnInitialized()
    {
        // Subscription to table record change events
        OsuDataProvider.SongChanged += this.SongChanged;
    }

    private async void SongChanged(object sender, SongSelectionChangedEventArgs e)
    {
        this.p = e.PathToBackgroundImage;

        Console.WriteLine($"updated value to {p}");

        await InvokeAsync(() => base.StateHasChanged());
    }
}
