@import "../../Pages/variables.less";

.component-map-image {
    margin-top: @baseSpacing * 3;
    border-radius: @baseSpacing * 2;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-width: 500px;
    width: 60%;
    max-width: 1500px;
    height: 250px;
    background-color: @colorGrayLight;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    &__background-image {
    }

    &__background-image--empty {
        background-color: @colorGrayLight;
        visibility: hidden;
    }

    &__text-container {
        display: flex;
        flex-direction: column;
        padding: @baseSpacing * 2;
        padding-left: @baseSpacing * 3;
    }

    &__text {
        & + & {
            padding-top: @baseSpacing;
        }
    }
}
